version: '3.8'

services:
  namenode:
    image: bde2020/hadoop-namenode:3.3.5
    container_name: hadoop-namenode
    restart: unless-stopped
    ports:
      - 9870:9870     # Web UI
      - 9000:9000     # HDFS RPC
    environment:
      - CLUSTER_NAME=hadoop-cluster
    volumes:
      - ./namenode:/hadoop/dfs/name
      - ./config/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./config/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - hadoop

  datanode:
    image: bde2020/hadoop-datanode:3.3.5
    container_name: hadoop-datanode
    restart: unless-stopped
    ports:
      - 9864:9864
    environment:
      - SERVICE_PRECONDITION=hadoop-namenode:9870
    volumes:
      - ./datanode:/hadoop/dfs/data
      - ./config/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./config/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - hadoop

networks:
  hadoop:
    driver: bridge
